@media (max-width: 412px) and (max-height: 930px){
    .vybor {
       margin-bottom: 10px;
    }
    
    .container-2 {
        margin-top: 10px;
    }
    
    .nav-item {
        font-size: 20px;
    }
    
    .text-center {
        font-size: 20px;
    }
    
    .btn {
        height: 50px;
        width: 150px;
        font-size: 25px;
    }
}